#webgl-canvas{
    width:75%;
}
aside{
	position: fixed;
	top: 250px;
	right: 20px;
}
input,
#bodySelector{
	float:right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}